.popup .mapboxgl-popup-content {
    background-color: black;
    padding: 20px;
    width: 350px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color:white;
    border-color: black;
    border-width: 1px;
  }

  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: black;
  }

  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
    border-bottom-color: black;
  }

  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
    border-right-color: black;
  }

  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
    border-left-color: black;
  }

.popup .mapboxgl-popup-content div {
      padding: 3px;
  }

.popup .dot{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px 0 0;
  border-color: white;
  border: 3px solid white;
}